@model ConstructionApp.ViewModels.VehicleViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row g-4 mb-2">
    <div class="col-md-6 p-3">
        <div class="d-flex align-items-center justify-content-center flex-column h-100 border border-primary rounded">
            <div id="dropZone" class="text-center p-2" style="cursor: pointer;">
                <input type="file" asp-for="Picture" id="pictureInput" accept="image/*" style="display:none;" />
                <div id="previewContainer">
                    <img id="picturePreview" src="@(!string.IsNullOrEmpty(Model.PicturePath) ? Url.Content(Model.PicturePath) : "/images/vehicle.svg")"
                    alt="Picture Preview" style="max-width: 200px;" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row mb-3 align-items-center" >
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control" rows="2"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row mb-3 align-items-center">
            <label asp-for="Plate" class="form-label"></label>
            <input asp-for="Plate" class="form-control" />
            <span asp-validation-for="Plate" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row g-4 mb-2">
    <div class="col-md-4">
        <label asp-for="DateInsurance" class="form-label">Assicurazione</label>
        <input asp-for="DateInsurance" type="date" class="form-control" />
        <span asp-validation-for="DateInsurance" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="DateRevision" class="form-label">Revision</label>
        <input asp-for="DateRevision" type="date" class="form-control" />
        <span asp-validation-for="DateRevision" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="DateMaintenance" class="form-label">Maintenance</label>
        <input asp-for="DateMaintenance" type="date" class="form-control" />
        <span asp-validation-for="DateMaintenance" class="text-danger"></span>
    </div>
</div>

<!-- File Upload Section -->
<div class="mb-3 d-flex align-items-center">
    <label class="form-label me-3">Attach</label>
    <button type="button" id="btnAddFile" class="btn btn-outline-primary btn-sm">+ Add File</button>
    <input type="file" id="fileInputTemplate" style="display:none;" />
    <div id="dynamicFileInputs"></div>
</div>

<div class="table-responsive">
    <table class="table table-bordered" id="filesTable">
        <thead class="table-light">
            <tr>
                <th>FileName</th>
                <th>Description</th>
                <th>Scadenza</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.AttachFiles.Count; i++)
            {
                var displayStyle = Model.AttachFiles[i].Dumped ? "display:none;" : "";
                <tr data-index="@i" style="@displayStyle">
                    <td>
                        <input asp-for="@Model.AttachFiles[i].FileName" type="text" class="form-control" />
                        <span asp-validation-for="@Model.AttachFiles[i].FileName" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="@Model.AttachFiles[i].Description" type="text" class="form-control" />
                        <span asp-validation-for="@Model.AttachFiles[i].Description" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="@Model.AttachFiles[i].Deadline" type="date" class="form-control" />
                            <span asp-validation-for="@Model.AttachFiles[i].Deadline" class="text-danger"></span>
                    </td>
                    <td class="d-flex">
                        <input asp-for="@Model.AttachFiles[i].Dumped" type="hidden"/>
                        <input asp-for="@Model.AttachFiles[i].TempId" type="hidden"/>
                        <input asp-for="@Model.AttachFiles[i].StoredFilePath" type="hidden"/>
                        <button type="button" class="btn btn-info btn-sm view-file">
                            <i class="bi bi-eye"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm remove-row">
                            <i class="bi bi-trash"></i> 
                        </button>
                    </td>
                </tr>
            } 
        </tbody>
    </table>
</div>
        